<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTemplateLabel" jhiTranslate="fortechMailerApp.template.home.createOrEditLabel">Create or edit a Template</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fortechMailerApp.template.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="template.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fortechMailerApp.template.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="template.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fortechMailerApp.template.content" for="field_content">Content</label>
            </br>
            <label class="form-control-label" style="font-size:70%; color:orange;">Use {{ '{receiver}' }} in the template wherever you want to insert the receiver's name in the sent e-mail.</label>
            <textarea type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="template.content"
            required></textarea>
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label jhiTranslate="fortechMailerApp.template.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" [(ngModel)]="template.userId" >-->
                <!--<option [ngValue]="null"></option>-->
                <!--<option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
